.git
.github
.vscode
coverage
docker-compose.yml
azure-pipelines.yml
*.md
.prettierrc
nodemon*.json

# Secrets
.env
serverless-qa-service-account.json

# Node Files
node_modules
npm-debug.log
npm-debug.log.*

# Source files
src
test
